[submodule "uSockets"]
	path = uSockets
	url = git@github.com:cambustion/external-uSockets.git
	branch = @cambustion/v0.7.1
[submodule "fuzzing/libEpollFuzzer"]
	path = fuzzing/libEpollFuzzer
	url = https://github.com/uNetworking/libEpollFuzzer
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate
